<% if @posts %>
	<div id="blogpost">
		<% @posts.reverse.each do |b|%>
		<div class="col-lg-8">
			<h3><%=b.title%></h3>
			<h6>By: <%= b.user.username %></h6>
			<p><%= b.blog_post %></p>
		</div>
		<%end%>
	</div>
<%end%>