/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	margin: 0;
 	margin-top: 0;
 	font-family: 'Varela Round', sans-serif;
 	background-color: #02C39A;
 }

#navbar {
	background-color: #028090;
	list-style-type: none;
	height: 90px;
	color: #F0F3BD;
	border-bottom: 5px solid #F0F3BD;
}

#navbar ul li {
	display: inline-block;
    width: 100px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 31px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

ul {
	margin: 0;
	margin-left: 80px;
}

#navbar ul li:hover {
    background-color: #00A896;
}

#emailinput {
	position: absolute;
	top: 10px;
	left: 70%;
	color: #F0F3BD;
}

#passwordinput {
	position: absolute;
	top: 10px;
	left: 82%;
	color: #F0F3BD;
}

#submitbutton {
	position: absolute;
	left: 93%;
	top: 41px;
}

#notauser {
	position: absolute;
	left: 74%;
	top: 60px;
	color: #F0F3BD;
}

